<!-- <mat-divider></mat-divider> -->
<mat-card class="example-card">   
    <h1>Welcome to QuizApp!!</h1>
    <h4>Ready to take a quiz? Choose your topic of interest</h4>
    <mat-card-header *ngFor="let quiz of quizzes">
        <!-- <div mat-card-avatar class="example-header-image"> -->
        <mat-card-title>
            <a routerLink="/{{quiz.name}}" class="btn btn-primary">{{quiz.label}}</a>
        </mat-card-title>
        <mat-card-subtitle>{{quiz.description}}</mat-card-subtitle> 
    </mat-card-header> 
    <!-- <a routerLink="/welcome" class="btn btn-primary">Choose Another Quiz</a> -->
</mat-card>

<!-- <mat-card class="example-card">  
    <mat-card-header>    
        <mat-icon>more_vert</mat-icon>   
        <div mat-card-avatar class="example-header-image">

        </div>    <mat-card-title>MR. X</mat-card-title>    
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>  
    </mat-card-header>
</mat-card> -->